body {
    overflow-x: hidden !important;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
}


/* Background colors */

.bg-lightblue {
    background: rgb(0 172 226 / 21%);
}

.bg-black-trans {
    background: #292929;
}


/* colors */

.text_blue {
    color: #00ACE2 !important;
}

.text_purple {
    color: #B143DD !important;
}

.text_pink {
    color: #FC2865 !important;
}

.text_green {
    color: #67D81A !important;
}

.text_orange {
    color: #FFA513 !important;
}


/* Font weight */

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: none;
}

.logo-img {
    /* width: 100%; */
    height: 35px;
}

.nav-link {
    font-weight: 500;
}

.nav-link img {
    height: 35px;
    width: 135px;
}

.header-banner {
    background-image: url("./assets/images/Picture1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
}


/* .header-banner .layer {
    background-image: linear-gradient(to right, rgba(10, 13, 29, .9), rgba(10, 13, 29, .2));
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
} */

.stripe-container {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    height: 100px;
    /* width: 300px; */
}

.stripe-1,
.stripe-2,
.stripe-3 {
    height: 105%;
    display: inline-block;
}

.stripe-1,
.stripe-2 {
    clip-path: polygon(100% 0%, 57% 48%, 100% 100%, 45% 100%, 0% 50%, 45% 0);
    width: 50px;
    margin-right: -.6rem;
}

.stripe-1 {
    background: rgba(103, 216, 26, .85);
}

.stripe-2 {
    background: rgba(252, 40, 101, .85);
}

.stripe-3 {
    background: rgba(0, 172, 226, .85);
    clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 18% 100%, 0% 50%);
    width: 110px;
}

.hero-text {
    background: rgba(10, 10, 10, .7);
    border-radius: 10px;
    padding: 1rem 2rem;
    position: relative;
    color: #ffffff;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.hero-text h3 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.2;
}

.hero-text h3 span {
    color: #FC2865;
}

.hero-text .list-group {
    list-style-type: disc;
}

.hero-text .list-group-item {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    display: list-item;
    max-height: 34px !important;
}

.hero-text .list-group-item::marker {
    font-size: 22px;
}

.hero-text .list-group-item:nth-child(1)::marker {
    color: #00ACE2;
}

.hero-text .list-group-item:nth-child(2)::marker {
    color: #FC2865;
}

.hero-text .list-group-item:nth-child(3)::marker {
    color: #67D81A;
}

.hero-text .list-group-item:nth-child(4)::marker {
    color: #B143DD;
}

.hero-text .list-group-item:nth-child(5)::marker {
    color: #FFA513;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    display: inline-block;
    margin-right: auto;
    color: #00ACE2;
    /* border-bottom: 3px solid #00ACE2; */
}

.section-title span {
    font-weight: 600;
    color: #FC2865;
}

.section-img {
    width: 250px;
    height: 60px;
}

.section-details p {
    line-height: 1.55;
}

.value-card {
    border-radius: 20px;
    background: #ffffff;
    border: none !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    min-height: 222px;
}

.value-card .icon-1,
.value-card .icon-2,
.value-card .icon-3,
.value-card .icon-4 {
    width: 3rem;
    height: 3rem;
    padding: .7rem;
    border-radius: 50%;
}

.value-card .icon-1 {
    color: #67D81A;
    background: rgba(103, 216, 26, 0.49);
}

.value-card .icon-2 {
    color: #FFA513;
    background: rgba(255, 165, 19, 0.49);
}

.value-card .icon-3 {
    color: #B143DD;
    background: rgba(177, 67, 221, 0.49);
}

.value-card .icon-4 {
    color: #FC2865;
    background: rgba(252, 40, 101, 0.49);
}

.value-card h5 {
    font-size: 1.1rem;
    font-weight: 600;
}

.value-card p {
    font-size: 14px;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: auto;
    border: none !important;
}

.nav-tabs .nav-link {
    border-radius: 0 !important;
    padding: .5rem 2rem;
    border-width: 4px 0px 0px 0px !important;
    border-bottom-style: solid;
    background: #cccccc2b !important;
}

.nav-tabs .nav-link.active {
    background: #ffffff !important;
}

.nav-tabs .nav-link:nth-child(1) {
    color: #00ACE2 !important;
}

.nav-tabs .nav-link:nth-child(2) {
    color: #FC2865 !important
}

.nav-tabs .nav-link:nth-child(3) {
    color: #67D81A !important;
}

.nav-tabs .nav-link:nth-child(4) {
    color: #B143DD !important;
}

.nav-tabs .nav-link:nth-child(5) {
    color: #FFA513 !important;
}

.nav-tabs .nav-link:nth-child(1).active {
    color: #00ACE2 !important;
    border-color: #00ACE2 !important;
}

.nav-tabs .nav-link:nth-child(2).active {
    color: #FC2865 !important;
    border-color: #FC2865 !important;
}

.nav-tabs .nav-link:nth-child(3).active {
    color: #67D81A !important;
    border-color: #67D81A !important;
}

.nav-tabs .nav-link:nth-child(4).active {
    color: #B143DD !important;
    border-color: #B143DD !important;
}

.nav-tabs .nav-link:nth-child(5).active {
    color: #FFA513 !important;
    border-color: #FFA513 !important;
}

.tab-pane {
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
    background: #ffffff;
    border-color: transparent;
}

.list-group-item .feather {
    width: 20px;
    height: 20px;
}

#carebox .section-details {
    background-image: url('./assets/images/CareBox logo Identity-04.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#carebox .section-details .opacity-layer {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .9);
}

.table thead tr th,
.table tbody tr th {
    background-color: #212529 !important;
    color: #ffffff;
    padding: .5rem 1rem;
}

.table tbody tr td {
    font-size: .7rem;
    padding: .5rem 1rem;
}

.btn-blue {
    background: #00ACE2 !important;
    color: #ffffff !important;
    border-radius: 0 !important;
    padding: .5rem 2rem !important;
}

.contact-form .form-control {
    border-radius: 0;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .logo-img {
        /* width: 100%; */
        height: 32px;
    }
    .hero-text {
        width: 80%;
    }
    .hero-text h3 {
        font-size: 2em;
        line-height: 1.3;
    }
    .hero-text .list-group-item {
        color: #ffffff;
        font-size: 16px;
        padding: .5rem 1.2rem;
    }
    .value-card .icon-1,
    .value-card .icon-2,
    .value-card .icon-3,
    .value-card .icon-4 {
        width: 2.7rem;
        height: 2.7rem;
    }
}

@media screen and (max-width:600px) {
    section {
        overflow-x: hidden;
    }
    .logo-img {
        width: 150px;
        height: 27px;
    }
    .stripe-container {
        height: 70px;
        /* width: 300px; */
    }
    .stripe-3 {
        width: 90px;
    }
    .hero-text {
        width: 100%;
        padding: 1rem;
    }
    .hero-text h3 {
        font-size: 1.4em;
    }
    .hero-text .list-group-item {
        font-size: 15px;
        font-weight: 600;
        padding: .25rem .5rem;
    }
    .section-title {
        font-size: 1.5rem;
        border-bottom: 0px;
    }
    .section-img {
        width: 180px;
        height: 45px;
    }
    .section-details p {
        font-size: 14px;
        line-height: 1.5;
    }
    .section-title,
    .section-details p,
    .section-img {
        display: block;
        margin: 0 auto 1rem;
        text-align: center;
    }
    .value-card .icon-1,
    .value-card .icon-2,
    .value-card .icon-3,
    .value-card .icon-4 {
        width: 2.5rem;
        height: 2.5rem;
    }
    .value-card h5 {
        font-size: 1.1rem;
        font-weight: 600;
    }
    .value-card p {
        font-size: 14px;
    }
    .nav-tabs {
        justify-content: start !important;
        flex-wrap: nowrap !important;
    }
    .nav-tabs .nav-link {
        padding: .5rem 1rem;
        font-size: 14px;
    }
    .tab-content-holder p,
    .tab-content-holder .list-group-item {
        font-size: 14px;
    }
    .table thead tr th,
    .table tbody tr th {
        padding: .25rem .4rem;
        font-size: 13px;
    }
    .table tbody tr td {
        font-size: 12px;
        padding: .25rem .4rem;
    }
}